# Exploring Data with Lumen

This notebook helps you to easily explore data in Lumen. In Lumen you may explore 'models'. If you want to look at data only, you should provide a so called 'Empirical Model' to Lumen:


This script let's you quickly:
 * create an empirical model from given csv/pd.DataFrame
 * store the model at the correct location for your local Lumen instance to load it

## load Lumen Backend

In [1]:
# make sure you run in the correct python environment where mb_modelbase is installed or this will fail!
import mb_modelbase as mb

10:21:52.581 WARNING :: Using NumPy C-API based implementation for BLAS functions.

## prepare data to look at in Lumen

In [2]:
# we use seaborn only for loading of example data
import seaborn as sns
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# this is where you should prep your own data and assign it to df
# ...

## learn and store model

In [4]:
# configuration
modelname = 'yaniras_model'
output_directory = './data_models'
overwrite = True

In [5]:
# make model and store it
model = mb.make_empirical_model(modelname, output_directory, df=df)

Your data frame looks like this:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
Successfully fitted empirical model!
Saved model in file:
/home/luca_ph/Documents/projects/graphical_models/code/data_models/yaniras_model.mdl

In [6]:
# summary of your model
print(model.__short_str__())

yaniras_model(#species,±sepal_length,±sepal_width,±petal_length,±petal_width)

In [7]:
# this is just some random query to test that the models is probably ready to be used
model.aggregate(method='maximum')

['setosa',
 5.843333333333334,
 3.0573333333333332,
 3.7580000000000005,
 1.1993333333333338]

## Finally: 

You should make sure that:
 * the model is saved in the correct folder (i.e. where Lumen loads its models from)
 * you do not forget to hit the *Sync Models* button in the front-end!
 * that the backend is running at all!