# Introduction to the mb_modelbase package

Welcome to a short introduction to the mb_modelbase package. Usually mb_modelbase is a part of the Moo-Software and is used as the backend but it can also used without the frontend as a standalone software. 

The easiest way to demonstrate the functions is with an example. So we are going to explore a real data set with the mb_modelbase package. 

### The Allbus2016 data set

The data set we are going to explore is the allbus2016 data set. It is a survey which contains all different kinds of variables of a single person like sex, age, income, place of residence, political attitude ... and so on. We would like to learn different models on it and execute some operations mb_modelbase to get a brief overview over the functions of mb_modelbase.

Let us import the data set and have a first view:

In [3]:
import pandas as pd
df = pd.read_csv('allbus2016.csv', index_col=0)
df.head()

,age,sex,educ,inc,eastwest,happiness,health,lived_abroad,spectrum,spectrum_cat
0,47,Frau,3,1800,Ost,9,3,Nein,1,Links
1,52,Mann,3,2000,Ost,8,3,Nein,5,MitteRechts
2,61,Mann,2,2500,West,9,4,Nein,6,MitteRechts
3,54,Frau,2,860,West,3,2,Ja,1,Links
4,49,Mann,3,2500,West,7,5,Nein,6,MitteRechts

We see a data set with 9 variables, 6 continuous and 3 categorical. Next step is to import the mb_modelbase package and check some functions:

In [5]:
import mb_modelbase as mbase